html[lang="ja"] #top-banner{
    background: url(../images/home/top-pc-ja.jpg) no-repeat center center #e7ffde;
    background-size: 100%;
}
html[lang="en-US"] #top-banner{
    background: url(../images/home/top-pc-en.jpg) no-repeat center center #e7ffde;
    background-size: 100%;
}
html[lang="vi"] #top-banner{
    background: url(../images/home/top-pc-vi.jpg) no-repeat center center #e7ffde;
    background-size: 100%;
}
#top-banner {
 background-size: 100%;
}
@media screen and (max-width: 767px){
	html[lang="ja"] #top-banner{
	    background: url(../images/home/top-sp-ja.jpg) no-repeat center center #e7ffde;
	    background-size: 100%;
	    height: 55vw;
	}
	html[lang="en-US"] #top-banner{
	    background: url(../images/home/top-sp-en.jpg) no-repeat center center #e7ffde;
	    background-size: 100%;
	    height: 55vw;
	}
	html[lang="vi"] #top-banner{
	    background: url(../images/home/top-sp-vi.jpg) no-repeat center center #e7ffde;
	    background-size: 100%;
	    height: 55vw;
	}
}