/* @include box-shadow(1px,1px,1px,0, #fff, true); */
/* FUNCTION  */
/*calculate percert */
p {
  margin: 0;
}

.img-responsive {
  display: block;
  margin: 0 auto;
}

.section {
  padding: 70px 0;
}

/**********
Candidate-block
**********/
#Interviewer-block {
  background: #fff;
}

/*interviewer-about*/
.interviewer-about {
  background: #f7f7f7;
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.14);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.14);
}
.interviewer-about__inner {
  padding: 15px 15px 15px 25px;
}
.interviewer-about__img img {
  margin-right: -15px;
}
.interviewer-about__logo {
  background: url(../images/interviewer/bg_h2.png) left bottom no-repeat;
  text-align: left;
  padding: 10px 0 20px;
}
.interviewer-about__logo img {
  margin: 0;
}
.interviewer-about__des {
  margin-bottom: 30px;
}
.interviewer-about__name {
  font-size: 22px;
  margin-top: 40px;
}

@media (max-width: 1199px) {
  .section-block {
    padding-left: 15px;
    padding-right: 15px;
  }

  /*interviewer-about*/
  .interviewer-about__des {
    margin-bottom: 15px;
  }
  .interviewer-about__name {
    font-size: 22px;
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  .section {
    padding: 30px 0;
  }

  /*interviewer-about*/
  .interviewer-about__inner {
    padding: 10px 15px;
  }
  .interviewer-about__des {
    margin-bottom: 10px;
  }
  .interviewer-about__des.mt-30 {
    margin-top: 20px;
  }
  .interviewer-about__name {
    text-align: center;
  }
  .interviewer-about__img img {
    margin-left: auto;
    margin-right: auto;
  }
}
/**********
End Interviewer-block
**********/
.ttl-h2 {
  background: #fff;
  margin-bottom: 55px;
}
.ttl-h2 h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  position: relative;
  font-family: 'Roboto', sans-serif;
}
.ttl-h2 h2::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 3px;
  background: #4d4e4d;
  text-align: center;
  bottom: -7px;
  left: 50%;
  margin-left: -40px;
}

/**********
Interview-block
**********/
#Interview-block {
  background: #f7f7f7;
}

/*interview-about*/
.interview-about__img {
  margin-bottom: 55px;
}
.interview-about__question {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  padding: 0 10% 5px;
}
.interview-about__answer {
  background: url(../images/interviewer/bg_content.png) center bottom no-repeat;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.interview-about__answer p {
  line-height: 30px;
}
.interview-about__answer p span {
  color: #5ec33c;
  display: block;
  text-align: left;
  padding: 0;
}
.interview-about__answer span {
  color: #5ec33c;
  display: block;
  padding: 5px;
  text-align: center;
}
.interview-about__answer:last-child {
  background: none;
}

@media (max-width: 767px) {
  .ttl-h2 {
    margin-bottom: 30px;
  }

  /*interview-about*/
  .interview-about__question {
    padding: 0 5% 5px;
  }
  .interview-about__img {
    margin-bottom: 30px;
  }
}
/**********
Interview-block
**********/
#Interviewer-other-block {
  background: #fff;
}

.interviewer-others {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
}
.interviewer-others .col-lg-4 {
  padding-left: 10px;
  padding-right: 10px;
}

.interviewer-other {
  position: relative;
  background: #f0f0f0;
  margin: 0 auto 20px;
  max-width: 375px;
}
.interviewer-other__img {
  float: left;
  width: 36.84210526%;
}
.interviewer-other__info {
  padding: 25px 20px 0;
  float: left;
  width: 63.15789474%;
  padding-right: 20px;
}
.interviewer-other__name {
  color: #2e2e2e;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 6px;
  margin-bottom: 6px;
  font-size: 15px;
}
.interviewer-other__des {
  color: #2e2e2e;
  padding-bottom: 30px;
}
.interviewer-other__btn a {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  color: #f7f7f7;
  padding: 5px 20px;
  background: #2e2e2e;
  transition: all 0.3s ease-out 0s;
}
.interviewer-other__btn a:hover {
  opacity: 0.7;
  text-decoration: none;
}

@media (max-width: 767px) {
  .interviewer-other__info {
    padding: 10px 10px 0;
  }
  .interviewer-other__btn a {
    padding: 3px 10px 2px;
  }
  .interviewer-other__des {
    font-size: 12px;
    padding-bottom: 20px;
  }
}

/*# sourceMappingURL=interviewer.css.map */
