<div id="top-banner" class="container-fluid">
    <div class="container">
        <h1 class="text-uppercase text-banner">
            Thương hiệu <span class="big-text">Tuyển dụng</span><br/>thu hút nhân tài
        </h1>
        <div id="select-lang" class="dropdown hidden-xs">
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Vietnamese
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#" data-lang="vi-VN">Vietnamese</a></li>
                <li><a href="#" data-lang="en-US">English</a></li>
                <li><a href="#" data-lang="ja-JP">Japanese</a></li>
            </ul>
        </div>
    </div>
</div>