<div id="Content">
    <div id="Blog-news-block" class="container-fluid section">
        <div class="container">            
            <div class="row">
                <div class="section-block">
                    <div class="ttl-commom">
                        <h2>ブログ・ニュース</h2>
                    </div>
                    <div class="row blog-news-list">
                        <div class="col-md-4 col-sm-4 blog-news-list__item">
                            <div class="item-info">
                                <a href="#">
                                    <img class="img-responsive" src="images/blog_news/branch_1.png" alt="">
                                    <span class="item-info__des">
                                        <span class="item-info__date">2017.07.18</span>
                                        <span class="item-info__title">歯科業界特化型の採用支援事業を行うクオリア・リレーションズ社へ ITオフショア開発ソリューションの提供を開始</span>
                                    </span>
                                </a>
                            </div><!-- /.item-info -->
                        </div><!-- /.blog-news-list__item -->
                        <div class="col-md-4 col-sm-4 blog-news-list__item">
                            <div class="item-info">
                                <a href="#">
                                    <img class="img-responsive" src="images/blog_news/branch_2.png" alt="">
                                    <span class="item-info__des">
                                        <span class="item-info__date">2017.07.07</span>
                                        <span class="item-info__title">エンジニア常駐型の技術支援サービスを提供する株式会社MapleSystemsとの資本業務提携のお知らせ</span>
                                    </span>
                                </a>
                            </div><!-- /.item-info -->
                        </div><!-- /.blog-news-list__item -->
                        <div class="col-md-4 col-sm-4 blog-news-list__item">
                            <div class="item-info">
                                <a href="#">
                                    <img class="img-responsive" src="images/blog_news/branch_3.png" alt="">
                                    <span class="item-info__des">
                                        <span class="item-info__date">2017.06.27</span>
                                        <span class="item-info__title">DeNAベトナム法人の買収完了に関するお知らせ</span>
                                    </span>
                                </a>
                            </div><!-- /.item-info -->
                        </div><!-- /.blog-news-list__item -->
                        <div class="col-md-4 col-sm-4 blog-news-list__item">
                            <div class="item-info">
                                <a href="#">
                                    <img class="img-responsive" src="images/blog_news/branch_4.png" alt="">
                                    <span class="item-info__des">
                                        <span class="item-info__date">2017.05.24</span>
                                        <span class="item-info__title">グローバル開発セミナー開催のお知らせ</span>
                                    </span>
                                </a>
                            </div><!-- /.item-info -->
                        </div><!-- /.blog-news-list__item -->
                        <div class="col-md-4 col-sm-4 blog-news-list__item">
                            <div class="item-info">
                                <a href="#">
                                    <img class="img-responsive" src="images/blog_news/branch_5.png" alt="">
                                    <span class="item-info__des">
                                        <span class="item-info__date">2017.04.28</span>
                                        <span class="item-info__title">開発上流工程サービス提供のEVA社、ベトナム人材紹介会社のエバディ社の両株式取得に関するお知らせ</span>
                                    </span>
                                </a>
                            </div><!-- /.item-info -->
                        </div><!-- /.blog-news-list__item -->
                        <div class="col-md-4 col-sm-4 blog-news-list__item">
                            <div class="item-info">
                                <a href="#">
                                    <img class="img-responsive" src="images/blog_news/branch_6.png" alt="">
                                    <span class="item-info__des">
                                        <span class="item-info__date">2017.04.17</span>
                                        <span class="item-info__title">DeNAベトナム法人の持分譲渡（子会社化）に関するお知らせ</span>
                                    </span>
                                </a>
                            </div><!-- /.item-info -->
                        </div><!-- /.blog-news-list__item -->
                        <div class="col-md-4 col-sm-4 blog-news-list__item">
                            <div class="item-info">
                                <a href="#">
                                    <img class="img-responsive" src="images/blog_news/branch_7.png" alt="">
                                    <span class="item-info__des">
                                        <span class="item-info__date"> 2017.03.31</span>
                                        <span class="item-info__title">東京証券取引所市場第一部への上場市場変更に関するお知らせ</span>
                                    </span>
                                </a>
                            </div><!-- /.item-info -->
                        </div><!-- /.blog-news-list__item -->
                        <div class="col-md-4 col-sm-4 blog-news-list__item">
                            <div class="item-info">
                                <a href="#">
                                    <img class="img-responsive" src="images/blog_news/branch_8.png" alt="">
                                    <span class="item-info__des">
                                        <span class="item-info__date"> 2017.03.24</span>
                                        <span class="item-info__title">東京証券取引所市場第一部への上場市場変更承認に関するお知らせ</span>
                                    </span>
                                </a>
                            </div><!-- /.item-info -->
                        </div><!-- /.blog-news-list__item -->
                        <div class="col-md-4 col-sm-4 blog-news-list__item">
                            <div class="item-info">
                                <a href="#">
                                    <img class="img-responsive" src="images/blog_news/branch_9.png" alt="">
                                    <span class="item-info__des">
                                        <span class="item-info__date"> 2017.03.24</span>
                                        <span class="item-info__title">電通とのジョイントベンチャー<br>「DENTSU TECHNO CAMP CO., LTD.」を設立</span>
                                    </span>
                                </a>
                            </div><!-- /.item-info -->
                        </div><!-- /.blog-news-list__item -->
                    </div>
                    <!-- /.row .blog-news-list-->
                    <div class="pagination">
                        <ul class="pagination-info">
                            <li><a href="#">&lt; Prev</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><span class="pagination-info__dots">…</span></li>
                            <li><a href="#">09</a></li>                            
                            <li><a href="#">Next &gt;</a></li>
                        </ul> 
                    </div>
                </div><!-- /.section-block -->
            </div>
        </div><!-- /.container -->
    </div>
    <!-- /.Profile-block /container-fluid -->
</div>
<!-- /#Content -->