<div id="work-block" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div id="search-work">
                    <p class="text-uppercase topic-blo">Tìm kiếm việc làm</p>
                    <div class="row">
                        <div class="search-byTags col-md-7">
                            <div class="bg-inner">
                                <h4 class="title-search text-uppercase">Tìm kiếm theo các điều kiện khác</h4>
                                <div class="tags-list">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="" class="btn btn-default">Ngành nghề</a>
                                        </li>
                                        <li>
                                            <a href="" class="btn btn-default">Kỹ năng</a>
                                        </li>
                                        <li>
                                            <a href="" class="btn btn-default">Mức lương</a>
                                        </li>
                                        <li>
                                            <a href="" class="btn btn-default">Ngoại ngữ</a>
                                        </li>
                                        <li>
                                            <a href="" class="btn btn-default">Kỹ năng mềm</a>
                                        </li>
                                        <li>
                                            <a href="" class="btn btn-default">Tài chính kinh doanh</a>
                                        </li>
                                        <li>
                                            <a href="" class="btn btn-default">Ngành nghề</a>
                                        </li>
                                        <li>
                                            <a href="" class="btn btn-default">Ngành nghề</a>
                                        </li>
                                        <li>
                                            <a href="" class="btn btn-default">Ngành nghề</a>
                                        </li>
                                        <li>
                                            <a href="" class="btn btn-default">Ngành nghề</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="search-another col-md-5">
                            <div class="bg-inner search-byKeys">
                                <h4 class="title-search text-uppercase">Tìm kiếm theo từ khóa</h4>
                                <form action="" method="POST">
                                    <div class="input-group input-group-lg">
                                        <input id="keyword" type="text" class="form-control" placeholder="Keyword">
                                        <span class="input-group-btn">
                                            <input id="btnSearch" type="submit" class="btn btn-default" type="button">
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <div class="bg-inner search-byPlaces">
                                <h4 class="title-search text-uppercase">Tìm kiếm theo nơi làm việc</h4>
                                <div class="tags-list workingPlaces-list">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="" class="btn btn-default">Kanto</a>
                                        </li>
                                        <li>
                                            <a href="" class="btn btn-default">Kansai</a>
                                        </li>
                                        <li>
                                            <a href="" class="btn btn-default">Tokai</a>
                                        </li>
                                        <li>
                                            <a href="" class="btn btn-default">Chubu</a>
                                        </li>
                                        <li>
                                            <a href="" class="btn btn-default">Viet Nam</a>
                                        </li>
                                        <li>
                                            <a href="" class="btn btn-default">Cambodia</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="new-work">
                    <p class="text-uppercase topic-blo">Công việc mới</p>
                    <div class="row">
                        <div class="col-md-12 job-blo">
                            <div class="row job-element">
                                <div class="inner">
                                    <div class="job-img"><img src="images/imgNew_job_1.png" alt="Job 1" title="Job 1"></div>
                                    <div class="job-content">
                                        <div class="title-content">Bridge SE (Mobile Application Project Development)</div>
                                        <div class="skill-content"><span>Kỹ năng:</span> Japanese, Mobile applications</div>
                                        <div class="salary-content"><span>Mức lương:</span> Ước tính thu nhập hằng năm: 2.4 ~ 3 triệu yên</div>
                                    </div>
                                    <div class="job-location">
                                        <div><span class="glyphicon glyphicon-map-marker"></span> Tokyo</div>
                                    </div>
                                </div>

                            </div>
                            <div class="row job-element">
                                <div class="inner">
                                    <div class="job-img"><img src="images/imgNew_job_2.png" alt="Job 1" title="Job 1"></div>
                                    <div class="job-content">
                                        <div class="title-content">Quản lý phát triển doanh nghiệp</div>
                                        <div class="skill-content"><span>Kỹ năng:</span> Japanese, Sales experience, Management experience</div>
                                        <div class="salary-content"><span>Mức lương:</span> Ước tính thu nhập hằng năm: 3.5 triệu yên ~ 5 triệu yên</div>
                                    </div>
                                    <div class="job-location">
                                        <div><span class="glyphicon glyphicon-map-marker"></span> TP HCM</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row job-element">
                                <div class="inner">
                                    <div class="job-img"><img src="images/imgNew_job_3.png" alt="Job 1" title="Job 1"></div>
                                    <div class="job-content">
                                        <div class="title-content">Lập trình viên (làm việc tại Campuchia)</div>
                                        <div class="skill-content"><span>Kỹ năng:</span> Japanese, Mobile applications</div>
                                        <div class="salary-content"><span>Mức lương:</span> Ước tính thu nhập hằng năm: 2.4 ~ 3 triệu yên</div>
                                    </div>
                                    <div class="job-location">
                                        <div><span class="glyphicon glyphicon-map-marker"></span> Campuchia</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row job-element">
                                <div class="inner">
                                    <div class="job-img"><img src="images/imgNew_job_4.png" alt="Job 1" title="Job 1"></div>
                                    <div class="job-content">
                                        <div class="title-content">Kỹ sư lập trình Web (lập trình cho Web công ty)</div>
                                        <div class="skill-content"><span>Kỹ năng:</span> HTML5 & CSS, Javascript, Java, PHP, Ruby,</div>
                                        <div class="salary-content"><span>Mức lương:</span> 3.5 triệu yen - 5.5 triệu yen</div>
                                    </div>
                                    <div class="job-location">
                                        <div><span class="glyphicon glyphicon-map-marker"></span> Tokyo</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="advertiment-block">
                    <div class="img-responsive">
                        <img src="images/banner_right.jpg" alt="Banner Advertiment">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
