<footer id="nav-footer">
    <nav class="navbar navbar-default navbar-static-top navbar-footermenu">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="footer-logo">
                        <a class="navbar-brand logo-brand" href="#">
                            <img src="images/logo_footer.png" alt="" class="responsive">
                        </a>
                    </div>        
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9">
                    <ul class="nav navbar-nav text-uppercase">
                        <li><a href="#">ホーム</a></li>
                        <li><a href="#">サービス</a></li>
                        <li><a href="#">エージェントの強み</a></li>
                        <li><a href="#">企業概要</a></li>
                        <li><a href="#">ブログ・ニュース</a></li>
                        <li><a href="#">インタビュー</a></li>
                        <li><a href="#">お問い合わせ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="footer-info">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-sm-6 col-md-8">
                    <address>
                        〒105-0012<br>
                        東京都港区芝大門1-10-11　芝大門センタービル10F<br>
                        10F Shiba Daimon Centre, 1-10-11 Shiba Daimon, Minato Ku, Tokyo, Japan<br>
                        Zip: 105-0012<br>
                        Tel: +81-3-6880-9083 - Fax: 03-6880-9201<br>                        
                    </address>
                </div>
                <div class="col-xs-4 col-sm-6 col-md-4">
                    <div class="lang-block"><a href="#" class="btn btn-success btn-lang">Japan</a></div>
                    <div class="social-block">
                        <a href="#" class="fb-ico"><img src="images/icon_facebook_footer.png" alt="Facebook" /></a>
                    </div>
                </div>
            </div>
            <span class="top-page">
                <img src="images/icon_topPage.png" alt="Top" title="Goto Top page">
            </span>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <p class="text-center">
                Copyright EVOLABLE ASIA Co,. Ltd. All Rights Reserved.
            </p>
        </div>
    </div>
    
</footer>

<!-- build:js js/combined.js -->
<script src="js/bootstrap.min.js"></script>
<script src="js/behaviors.js"></script>
<script src="js/main.js"></script>
<!-- endbuild -->