<head>
    <meta charset="UTF-8">
    <title>@@title</title>
    
    <!-- <link rel="icon" type="image/png" href="images/heart.png"> -->
    <link href="css/styles.min.css" rel="stylesheet" type="text/css"/>
    <link href=@@fileStyle rel="stylesheet" type="text/css"/>
    <link href=@@slickStyle rel="stylesheet" type="text/css"/>
    <link href=@@slick-themeStyle rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <!-- build:css css/combined.css -->
    <!-- endbuild -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkUOdZ5y7hMm0yrcCQoCvLwzdM6M8s5qk&callback=initMap"></script> -->
</head>