<div id="Content">
    <div id="Interviewer-block" class="container-fluid section">
        <div class="container">            
            <div class="row">
                <div class="section-block">
                    <div class="ttl-commom">
                        <h2>外国人社員を採用した担当者</h2>
                    </div>
                    <p class="txt-des">テキストテキストテキストテキスト。。。。</p>
                    <div class="inter-list inter-list--interviewer">
                        <div class="col-md-4 col-sm-4 inter-list__item">
                            <div class="item-info">
                                <a href="#">
                                    <img class="img-responsive" src="images/interview/employer01.png" alt="">
                                    <span class="item-info__interviewer">
                                        <span class="item-info__logo"><img class="img-responsive" src="images/interview/employer01_logo.png" alt=""></span>
                                        <span class="item-info__name">野内　靖仁<br>（Yasuhito Nouchi)</span>
                                    </span>
                                    <span class="item-info__des">
                                        <span class="item-info__title">SEEC</span>
                                        <span class="item-info__txt">SEEC社はインターネット広告代理業からスタートし、今ではウェブソリューション事業・インターネットメディア事業・アプリ開発事業・eコマース事業など、幅広い事業を展開しています</span>
                                    </span>
                                </a>
                            </div><!-- /.item-info -->
                        </div><!-- /.inter__item -->
                        <div class="col-md-4 col-sm-4 inter-list__item">
                            <div class="item-info">
                                <a href="#">
                                    <img class="img-responsive" src="images/interview/employer02.png" alt="">
                                    <span class="item-info__interviewer">
                                        <span class="item-info__logo"><img class="img-responsive" src="images/interview/employer02_logo.png" alt=""></span>
                                        <span class="item-info__name">須藤　順一<br>（Junichi Sudo）</span>
                                    </span>
                                    <span class="item-info__des">
                                        <span class="item-info__title">株式会社アライドシステム</span>
                                        <span class="item-info__txt">株式会社アライドシステム <br>
                                        美容室の顧客管理ソフト×POSシステム-A’staff の開発・運用サポート<br>
                                        店舗統括管理ソフト -本社管理システム の開発</span>
                                    </span>
                                </a>
                            </div><!-- /.item-info -->
                        </div><!-- /.inter__item -->
                        <div class="col-md-4 col-sm-4 inter-list__item">
                            <div class="item-info">
                                <a href="#">
                                    <img class="img-responsive" src="images/interview/employer03.png" alt="">
                                    <span class="item-info__interviewer">
                                        <span class="item-info__logo"><img class="img-responsive" src="images/interview/employer03_logo.png" alt=""></span>
                                        <span class="item-info__name">藤田　正樹<br>（Masaki Fujita）</span>
                                    </span>
                                    <span class="item-info__des">
                                        <span class="item-info__title">EVOLABLE ASIA </span>
                                        <span class="item-info__txt">オンラインによる旅行事業を行う事業として2007年に創業。 2011年に法人向け出張サービス（BTM）販売開始、2012年には「EVOLABLE ASIA CO., LTD.」（現連結子会社）をベトナム </span>
                                    </span>
                                </a>
                            </div><!-- /.item-info -->
                        </div><!-- /.inter__item -->
                        <div class="col-md-4 col-sm-4 inter-list__item">
                            <div class="item-info">
                                <a href="#">
                                    <img class="img-responsive" src="images/interview/employer01.png" alt="">
                                    <span class="item-info__interviewer">
                                        <span class="item-info__logo"><img class="img-responsive" src="images/interview/employer01_logo.png" alt=""></span>
                                        <span class="item-info__name">野内　靖仁<br>（Yasuhito Nouchi)</span>
                                    </span>
                                    <span class="item-info__des">
                                        <span class="item-info__title">SEEC</span>
                                        <span class="item-info__txt">SEEC社はインターネット広告代理業からスタートし、今ではウェブソリューション事業・インターネットメディア事業・アプリ開発事業・eコマース事業など、幅広い事業を展開しています</span>
                                    </span>
                                </a>
                            </div><!-- /.item-info -->
                        </div><!-- /.inter__item -->
                        <div class="col-md-4 col-sm-4 inter-list__item">
                            <div class="item-info">
                                <a href="#">
                                    <img class="img-responsive" src="images/interview/employer02.png" alt="">
                                    <span class="item-info__interviewer">
                                        <span class="item-info__logo"><img class="img-responsive" src="images/interview/employer02_logo.png" alt=""></span>
                                        <span class="item-info__name">須藤　順一<br>（Junichi Sudo）</span>
                                    </span>
                                    <span class="item-info__des">
                                        <span class="item-info__title">株式会社アライドシステム</span>
                                        <span class="item-info__txt">株式会社アライドシステム <br>
                                        美容室の顧客管理ソフト×POSシステム-A’staff の開発・運用サポート<br>
                                        店舗統括管理ソフト -本社管理システム の開発</span>
                                    </span>
                                </a>
                            </div><!-- /.item-info -->
                        </div><!-- /.inter__item -->
                        <div class="col-md-4 col-sm-4 inter-list__item">
                            <div class="item-info">
                                <a href="#">
                                    <img class="img-responsive" src="images/interview/employer03.png" alt="">
                                    <span class="item-info__interviewer">
                                        <span class="item-info__logo"><img class="img-responsive" src="images/interview/employer03_logo.png" alt=""></span>
                                        <span class="item-info__name">藤田　正樹<br>（Masaki Fujita）</span>
                                    </span>
                                    <span class="item-info__des">
                                        <span class="item-info__title">EVOLABLE ASIA </span>
                                        <span class="item-info__txt">オンラインによる旅行事業を行う事業として2007年に創業。 2011年に法人向け出張サービス（BTM）販売開始、2012年には「EVOLABLE ASIA CO., LTD.」（現連結子会社）をベトナム </span>
                                    </span>
                                </a>
                            </div><!-- /.item-info -->
                        </div><!-- /.inter__item -->
                    </div>
                    <!-- /.row .inter-list-->
                    
                </div><!-- /.section-block -->
            </div>
        </div><!-- /.container -->
    </div>
    <!-- /.Interviewer-block /container-fluid -->

    <div id="Candidate-block" class="container-fluid section">
        <div class="container">            
            <div class="row">
                <div class="section-block">
                    <div class="ttl-commom">
                        <h2>日本で働く外国人社員へ</h2>
                    </div>
                    <p class="txt-des">テキストテキストテキストテキスト。。。。</p>
                    <div class="inter-list inter-list--candidate">
                        <div class="col-md-4 col-sm-4 inter-list__item">
                            <div class="item-info">
                                <a href="#">
                                    <img class="img-responsive" src="images/interview/candidate01.png" alt="">
                                    <span class="item-info__interviewer">
                                        <span class="item-info__name">Nguyen Dinh Khiem</span>
                                    </span>
                                    <span class="item-info__des">
                                        <span class="item-info__title">Solutech Industrial Co, Ltd</span>
                                        <span class="item-info__txt">会社の事業内容と仕事内容が自分に合っていて、自分の能力や経験を活かせると感じています。私の勤めるソルテック工業株式会社は大企業ですし、グローバル企業です。また、ベトナム</span>
                                    </span>
                                </a>
                            </div><!-- /.item-info -->
                        </div><!-- /.inter__item -->  
                        <div class="col-md-4 col-sm-4 inter-list__item">
                            <div class="item-info">
                                <a href="#">
                                    <img class="img-responsive" src="images/interview/candidate02.png" alt="">
                                    <span class="item-info__interviewer">
                                        <span class="item-info__name">Dinh Nhat Truong</span>
                                    </span>
                                    <span class="item-info__des">
                                        <span class="item-info__title">EVOLABLE ASIA</span>
                                        <span class="item-info__txt">弊社は、B to B, B to C双方の領域において大きなシェアを誇る企業です。<br>こういった企業で働くのは私にとって初めての経験ですが、とてもワクワクしていますし、自</span>
                                    </span>
                                </a>
                            </div><!-- /.item-info -->
                        </div><!-- /.inter__item -->  
                        <div class="col-md-4 col-sm-4 inter-list__item">
                            <div class="item-info">
                                <a href="#">
                                    <img class="img-responsive" src="images/interview/candidate03.png" alt="">
                                    <span class="item-info__interviewer">
                                        <span class="item-info__name">Nguyen Van Tuan</span>
                                    </span>
                                    <span class="item-info__des">
                                        <span class="item-info__title">W2ソリューション株式会社</span>
                                        <span class="item-info__txt">会社から私の専門性やスキルを高めるための研修を受けるときはとても楽しいです。また、自分の知識や経験を実際の仕事に活かせることに喜びを感じています。</span>
                                    </span>
                                </a>
                            </div><!-- /.item-info -->
                        </div><!-- /.inter__item --> 
                        <div class="col-md-4 col-sm-4 inter-list__item">
                            <div class="item-info">
                                <a href="#">
                                    <img class="img-responsive" src="images/interview/candidate01.png" alt="">
                                    <span class="item-info__interviewer">
                                        <span class="item-info__name">Nguyen Dinh Khiem</span>
                                    </span>
                                    <span class="item-info__des">
                                        <span class="item-info__title">Solutech Industrial Co, Ltd</span>
                                        <span class="item-info__txt">会社の事業内容と仕事内容が自分に合っていて、自分の能力や経験を活かせると感じています。私の勤めるソルテック工業株式会社は大企業ですし、グローバル企業です。また、ベトナム</span>
                                    </span>
                                </a>
                            </div><!-- /.item-info -->
                        </div><!-- /.inter__item -->  
                        <div class="col-md-4 col-sm-4 inter-list__item">
                            <div class="item-info">
                                <a href="#">
                                    <img class="img-responsive" src="images/interview/candidate02.png" alt="">
                                    <span class="item-info__interviewer">
                                        <span class="item-info__name">Dinh Nhat Truong</span>
                                    </span>
                                    <span class="item-info__des">
                                        <span class="item-info__title">EVOLABLE ASIA</span>
                                        <span class="item-info__txt">弊社は、B to B, B to C双方の領域において大きなシェアを誇る企業です。<br>こういった企業で働くのは私にとって初めての経験ですが、とてもワクワクしていますし、自</span>
                                    </span>
                                </a>
                            </div><!-- /.item-info -->
                        </div><!-- /.inter__item -->  
                        <div class="col-md-4 col-sm-4 inter-list__item">
                            <div class="item-info">
                                <a href="#">
                                    <img class="img-responsive" src="images/interview/candidate03.png" alt="">
                                    <span class="item-info__interviewer">
                                        <span class="item-info__name">Nguyen Van Tuan</span>
                                    </span>
                                    <span class="item-info__des">
                                        <span class="item-info__title">W2ソリューション株式会社</span>
                                        <span class="item-info__txt">会社から私の専門性やスキルを高めるための研修を受けるときはとても楽しいです。また、自分の知識や経験を実際の仕事に活かせることに喜びを感じています。</span>
                                    </span>
                                </a>
                            </div><!-- /.item-info -->
                        </div><!-- /.inter__item -->                        
                    </div>
                    <!-- /.row .inter-list-->
                    
                </div><!-- /.section-block -->
            </div>
        </div><!-- /.container -->
    </div>
    <!-- /.Candidate-block /container-fluid -->
</div>
<!-- /#Content -->