<nav id="top-menu" class="navbar navbar-default navbar-static-top navbar-topmenu">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1>
                <a class="navbar-brand logo-brand" href="#">
                    <img src="images/logo.png" alt="" class="responsive">
                </a>
            </h1>
            <div class="dropdown menu-lang visible-xs">
                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    JP
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#" data-lang="ja-JP">JP</a></li>
                    <li><a href="#" data-lang="vi-VN">VI</a></li>
                    <li><a href="#" data-lang="en-US">EN</a></li>                    
                </ul>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right text-uppercase">
                <li class="@@active-page.menu1"><a href="#">ホーム</a></li>
                <li class="@@active-page.menu2"><a href="#">サービス</a></li>
                <li class="@@active-page.menu3"><a href="#">エージェントの強み</a></li>
                <li class="@@active-page.menu4"><a href="#">企業概要</a></li>
                <li class="@@active-page.menu5"><a href="#">ブログ・ニュース</a></li>
                <li class="@@active-page.menu6"><a href="#">インタビュー</a></li>
                <li class="@@active-page.menu7"><a href="#">お問い合わせ</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
