<div id="Content">
    <div id="Profile-block" class="container-fluid section">
        <div class="container">            
            <div class="row">
                <div class="section-block">
                    <div class="ttl-commom">
                        <h2>企業概要</h2>
                    </div>
                    <dl class="profile-info">
                        <dt>会社名</dt>
                        <dd>株式会社エボラブルアジアエージェント</dd>
                        <dt>所在地</dt>
                        <dd class="no-pd-top">
                            105-0012<br>
                            東京都港区芝大門1-10-11　芝大門センタービル10F<br>
                            10F Shiba Daimon Centre, 1-10-11 Shiba Daimon, Minato Ku, Tokyo, Japan<br>
                            zip: 105-0012<br>
                            <span>
                                電話番号: +81-3-6880-9083<br>                            
                                FAX番号: 03-6880-9201
                            </span>
                        </dd>
                        <dt>メール</dt>
                        <dd>info@agent.evolable.asia</dd>
                        <dt>設立</dt>
                        <dd>平成27年5月27日</dd>
                        <dt>資本金</dt>
                        <dd class="no-pd-top">
                            500万円<br>
                            5,000,000 JPY
                        </dd>
                        <dt>役員</dt>
                        <dd class="no-pd-top">
                            代表取締役社長　金　明正<br>
                            CEO Akimasa Kim
                        </dd>
                        <dt>事業内容</dt>
                        <dd class="no-pd-top">
                            有料職業紹介事業（厚生労働大臣許可番号13-ユ-307300）<br>
                            人事・採用コンサルティング事業<br>
                            人事アウトソーシング事業
                        </dd>
                        <dt>アクセス</dt>
                        <dd>&nbsp;</dd>
                    </dl><!-- /.profile-info -->

                    <div class="profile-map">
                        <div id="map"></div>                        
                        <script type="text/javascript">                            
                            function initMap() {
                              var locationRio = {lat: 35.6586299, lng: 139.7531492};
                              var map = new google.maps.Map(document.getElementById('map'), {
                                zoom: 18,
                                center: locationRio,
                                gestureHandling: 'cooperative',
                                scrollwheel: false
                              });
                              var marker = new google.maps.Marker({
                                position: locationRio,
                                map: map,
                                title: 'Hello World!'
                              });
                            }
                        </script>
                        <!-- Replace the value of the key parameter with your own API key. -->
                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCB7WuiQYTMDnnpmkmfhGWU4eYULyFkRow&callback=initMap"></script>
                    </div><!-- /.profile-map -->
                </div><!-- /.section-block -->
            </div>
        </div><!-- /.container -->
    </div>
    <!-- /.Profile-block /container-fluid -->

    <div id="Boss-message-block" class="container-fluid section">
        <div class="container">            
            <div class="row">
                <div class="section-block">
                    <div class="ttl-commom">
                        <h2>社長メッセージ</h2>                        
                    </div>                
                    <div class="row boss-message">
                        <div class="col-md-4">
                            <div class="box-img">
                                <img src="images/profile/img01.png" alt="" class="img-responsive">
                                <h3 class="ttl">代表取締役社長　金 明正<span>CEO Akimasa Kim</span></h3>
                            </div>                            
                        </div><!-- /.col -->
                        <div class="col-md-8">
                            <dl class="boss-info">
                                <dt>2002年4月</dt>
                                <dd>
                                    <p>
                                        京セラ株式会社入社。<br>                                    
                                        移動体通信機器事業部にて海外マーケティング・商品企画を担当（米国・中国・タイ）
                                    </p>
                                </dd>
                                <dt>2005年4月</dt>
                                <dd>
                                    <p>
                                        株式会社リクルートエイブリック(現 株式会社リクルートキャリア)入社。<br>
                                        転職希望者に対するキャリアコンサルタント、法人営業としてIT・Web業界企業に対して採用コンサルタントを経験。組織トップ人材から <br>エンジニア、管理部門人材まで、幅広い人材採用を支援
                                    </p>
                                </dd>
                                <dt>2010年4月</dt>
                                <dd>
                                    <p>リクルート海外法人(RGF Hong Kong limited)出向。<br>
                                    香港・ベトナムにて人材紹介事業立上げ。ベトナム法人では、2年間現地法人代表を務める。 その後、シンガポール・インド支社において 業務改善プロジェクトを担当</p>
                                </dd>
                                <dt>2013年10月</dt>
                                <dd>
                                    <p>日本へ帰任 同社、行政からの受託事業を担当</p>
                                </dd>
                                <dt>2015年5月</dt>
                                <dd>
                                    <p>有料職業紹介事業　株式会社エバディ設立</p>
                                </dd>
                                <dt>2015年7月</dt>
                                <dd>
                                    <p>株式会社エバディ（現エボラブルアジアエージェント）代表取締役就任<br>
                                    コンサルタント活動を行いながら、日本国外にも視野を向けたキャリア形成を支援</p>
                                </dd>                                
                            </dl><!-- /.boss-info -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->    
                </div><!-- /.section-block -->
            </div>
        </div><!-- /.container -->
    </div>
    <!-- /.Profile-block /container-fluid -->
</div>
<!-- /#Content -->