<div id="why-agent" class="container-fluid">
    <div class="container">
        <h2 class="title-blo">
            エージェントの強み(Why Agent)
        </h2>
        <div class="content-blo">
            <div class="row">
                <div class="col-md-12 agent-blo">
                    <div class="row agent-element">
                        <div class="agent-img">
                            <img src="images/img_agent.png" alt="Agent" class="responsive">
                        </div>
                        <div class="agent-content">
                            <p class="title-agent">Title title title title title title title title title title title title title title title title</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>